<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />


    <title>@ViewData["Title"] - Budget Dashboard</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/BudgetDashboard.css" rel="stylesheet" />

</head>
<body>
    

    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Budget Dashboard</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                        </ul>
                        <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
                    </div>
                </div>
            </nav>
        </div>
        
        
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation">@Html.ActionLink("Add Account Transaction", "AddAccountTransaction", "AccountTransactions")</li>
                    <li role="presentation">@Html.ActionLink("Overview", "Overview", "AccountTransactions")</li>
                    <li role="presentation">@Html.ActionLink("Current Month Transactions", "CurrentMonthTransactions", "AccountTransactions")</li>
                    <li role="presentation">@Html.ActionLink("All Account Transactions", "AllAccountTransactions", "AccountTransactions")</li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
